<!-- Wrapper -->
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header *ngIf="this._auth.isConnected()" id="header">
                <div>
                    <strong> Eventail{{this._router.url}} </strong>
                    <strong *ngIf="this._auth.getRank() == 2"><br> You are a restricted user.</strong>
                </div>
                <button *ngIf="this._router.url === '/mapView'"
                    (click)="this._router.navigateByUrl('/mapView')" class="button active" type="submit">MapView</button>
                <button *ngIf="this._router.url != '/mapView'"
                    (click)="this._router.navigateByUrl('/mapView')" class="button ref" type="submit">MapView</button>

                <button *ngIf="this._router.url === '/friends'"
                    (click)="this._router.navigateByUrl('/friends')" class="button active" type="submit">Friends</button>
                <button *ngIf="this._router.url != '/friends'"
                    (click)="this._router.navigateByUrl('/friends')" class="button ref" type="submit">Friends</button>

                <button *ngIf="this._auth.getRank() == 0 && this._router.url === '/admin'"
                    (click)="this._router.navigateByUrl('/admin')" class="button active" type="submit">User Administration</button>
                <button *ngIf="this._auth.getRank() == 0 && this._router.url != '/admin'"
                    (click)="this._router.navigateByUrl('/admin')" class="button ref" type="submit">User Administration</button>

                <button *ngIf="this._router.url === '/profil'"
                    (click)="this._router.navigateByUrl('/profil')" class="button active" type="submit">Me</button>
                <button *ngIf="this._router.url != '/profil'"
                    (click)="this._router.navigateByUrl('/profil')" class="button ref" type="submit">Me</button>

                <button (click)="onLogout()" type="button" class="button ref">Logout</button>
            </header>
            <header *ngIf="!this._auth.isConnected()" id="header">   
                 <button (click)="this._router.navigateByUrl('/login')" class="button ref" type="submit">Login</button>
            </header>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>