<!-- Header -->
<header id="header">
    <button (click)="this._router.navigateByUrl('/mapView')" class="button ref" type="submit">Eventail/Map View</button>
    <button (click)="this._router.navigateByUrl('/friends')" class="button ref" type="submit">Friends</button>
</header>

<!-- Banner -->
<section id="banner">
  <div class="posts">
    <article>
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <sebm-google-map 
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        (mapClick)="mapClicked($event)">
        <!-- Persons 
        <sebm-google-map-marker 
            *ngFor="let m of markerPerson; let i = index"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)">
            
          <sebm-google-map-info-window>
            <strong>{{ m.label }}</strong>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>

        -->
        
        <!-- Events -->
        <sebm-google-map-marker 
            *ngFor="let m of markerEvent; let i = index"
            (markerClick)="clickedMarker(m.title, i)"
            [latitude]="m.location[0]"
            [longitude]="m.location[1]"
            [label]="m.title"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)">
            
          <sebm-google-map-info-window>
            <strong>{{ m.title }}</strong>
          </sebm-google-map-info-window>

          <sebm-google-map-circle [latitude]="m.location[0]" [longitude]="m.location[1]" 
            [radius]="m.radius"
            [fillColor]="'red'"
            [circleDraggable]="false"
            [editable]="true">
          </sebm-google-map-circle>
        </sebm-google-map-marker>
      </sebm-google-map>
    </article>
    <article>
     <strong> {{ this.commandMaker.label }}</strong> <br>
               lat: {{ this.commandMaker.location[0] }} <br>
               lng: {{ this.commandMaker.location[1] }} <br><br>
               Event Name <input #textbox type='text' [(ngModel)]='this.commandMaker.title' required>
               Event Desc <input #textbox type='text' [(ngModel)]='this.commandMaker.desc' required>
               This event begins: <input #textbox type='date' [(ngModel)]='this.commandMaker.begin' required> 
               <input #time type='time' [(ngModel)]='this.hbegin' required><br>
               This event ends:   <input #textbox type='date' [(ngModel)]='this.commandMaker.end' required> 
               <input #time type='time' [(ngModel)]='this.hend' required><br>
               Spontaneous <input #textbox type='checkbox' [(ngModel)]='this.commandMaker.spontaneous' required> <br> 
      <button (click)="saveEvent(this.commandMaker)" type="submit" class="button big">SAVE</button>
      <button (click)="deleteMarker(this.commandMaker)" type="submit" class="button danger">DELETE</button>
    </article>
  </div>
</section>