<!-- Banner -->
<section id="banner">
  <div class="posts">
    <article>
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <sebm-google-map 
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        (mapClick)="mapClicked($event)"
        (centerChange)="centerMapChanged($event)"
        (zoomChange)="zoomChanged($event)"
        (idle)="mapIdle()">
        <!-- Persons -->
        <sebm-google-map-marker 
            *ngFor="let m of markerPerson"
            [latitude]="m.location[0]"
            [longitude]="m.location[1]"
            [label]="'U'"
            [title]="m.title"
            [markerDraggable]="false">
            
          <sebm-google-map-info-window>
            <strong>{{ m.title }}</strong>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>

        <!-- Points of interest -->
        <sebm-google-map-marker
            *ngFor="let m of markerPOI; let i = index"
            (markerClick)="clickedMarkerPOI(m.title, i)"
            [latitude]="m.location[0]"
            [longitude]="m.location[1]"
            [label]="'I'"
            [title]="m.title"
            [markerDraggable]="m.draggable"
            (dragEnd)="POIMarkerDragEnd(m, $event)">
            
          <sebm-google-map-info-window>
            <strong>{{ m.title }}</strong>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
        
        <!-- Events -->
        <sebm-google-map-marker
            *ngFor="let m of markerEvent; let i = index"
            (markerClick)="clickedMarkerEvent(m.title, i)"
            [latitude]="m.location[0]"
            [longitude]="m.location[1]"
            [label]="'E'"
            [title]="m.title"
            [markerDraggable]="m.draggable"
            (dragEnd)="eventMarkerDragEnd(m, $event)">
            
          <sebm-google-map-info-window>
            <strong>{{ m.title }}</strong>
          </sebm-google-map-info-window>

          <sebm-google-map-circle [latitude]="m.location[0]" [longitude]="m.location[1]" 
            [radius]="m.radius"
            [fillColor]="'red'"
            [circleDraggable]="false"
            [editable]="false">
          </sebm-google-map-circle>
        </sebm-google-map-marker>
      </sebm-google-map>
    </article>
    <article *ngIf="this.markerEvent.length > 0 && !this.editingPointsOfInterest && this.commandMakerEvent != null && this.commandMakerEvent != undefined">
     <strong> {{ this.commandMakerEvent.title }}</strong> <br>
               lat: {{ this.commandMakerEvent.location[0] }} <br>
               lng: {{ this.commandMakerEvent.location[1] }} <br>
               radius: <input #number type='number' min="0" max="500" [(ngModel)]='this.commandMakerEvent.radius' required> <br><br>
               Event Name <input #textbox type='text' [(ngModel)]='this.commandMakerEvent.title' required>
               Event Desc <input #textbox type='text' [(ngModel)]='this.commandMakerEvent.desc' required>
               This event begins: <input #textbox type='date' [(ngModel)]='this.commandMakerEvent.begin' required> 
               <input #time type='time' [(ngModel)]='this.commandMakerEvent.hbegin' required><br>
               This event ends:   <input #textbox type='date' [(ngModel)]='this.commandMakerEvent.end' required> 
               <input #time type='time' [(ngModel)]='this.commandMakerEvent.hend' required><br>
      <button *ngIf="this._auth.getRank() < 2 && this.commandMakerEvent.id == undefined || this._auth.getUserId() == this.commandMakerEvent.owner || this._auth.getRank() == 0"
       (click)="saveEvent(this.commandMakerEvent)" type="submit" class="button big">SAVE</button>
      <button *ngIf="this._auth.getRank() < 2 && this.commandMakerEvent.id == undefined || this._auth.getUserId() == this.commandMakerEvent.owner || this._auth.getRank() == 0"
       (click)="deleteMarkerEvent(this.commandMakerEvent)" type="submit" class="button danger">DELETE</button>
      <button *ngIf="this._auth.getRank() < 2 && this._auth.getUserId() == this.commandMakerEvent.owner || this._auth.getRank() == 0"
       (click)="this.editingPointsOfInterest = true" type="submit" class="button big">SWITCH TO POINTS OF INTEREST</button>
    </article>

    <article *ngIf="this.markerEvent.length > 0 && this.editingPointsOfInterest && this.markerPOI.length > 0">
     <strong> {{ this.commandMakerPOI.title }}</strong> <br>
               Event Name <input #textbox type='text' [(ngModel)]='this.commandMakerPOI.title' required>
               Event Desc <input #textbox type='text' [(ngModel)]='this.commandMakerPOI.desc' required> 
      <button 
       (click)="savePOI(this.commandMakerPOI, true)" type="submit" class="button big">SAVE</button>
      <button
       (click)="deleteMarkerPOI(this.commandMakerPOI)" type="submit" class="button danger">DELETE</button>
      <button 
       (click)="this.editingPointsOfInterest = false" type="submit" class="button big">SWITCH TO EVENTS</button>
    </article>
<!-- this.commandMakerEvent = this.markerEvent[this.markerEvent.length-1]; -->
    <article *ngIf="this.markerEvent.length > 0 && this.editingPointsOfInterest && this.markerPOI.length == 0">
      <strong> Click anywere on the map to add a new POI.</strong> <br>
    </article>

    <article *ngIf="this.markerEvent.length > 0 && !this.editingPointsOfInterest && this.commandMakerEvent == null || this.commandMakerEvent == undefined">
      <strong> Click on an event or click on the map to create one.</strong> <br>
    </article>

    <article *ngIf="this.markerEvent.length == 0">
     <strong> Click anywere on the map to start a new event.</strong> <br>
    </article>
  </div>
</section>