<!-- Header -->
<header id="header">
    <button (click)="this._router.navigateByUrl('/friends')" class="button ref" type="submit">Eventail/Friends</button>
    <button (click)="this._router.navigateByUrl('/mapView')" class="button ref" type="submit">Map View</button>
</header>

<!-- Banner -->
<section id="banner">
  <div class="content">
    <div>
      <form>
          <p> Find a user </p>
        <div class="form-group">
          <input type="text" class="form-control" id="name" required
                [(ngModel)]="username" name="username"
                (ngModelChange)="onChange($event)">
        </div>        
      </form>
      <table>
          <tr *ngFor="let u of foundUsers">
            <th>{{u.username}}</th>
            <th> <button (click)="addFriend(u)" type="submit" class="button big">add friend</button></th>
          </tr>
      </table>
    </div>
    <div *ngIf="this.friends.length > 0">
      List of your firends:<br>
      <table>
          <tr *ngFor="let friend of friends; let i = index">>
            <th>{{friend.username}}</th>
            <th> <button (click)="deleteFriend(friend, i)" type="submit" class="button danger">delete friend</button></th>
          </tr>
      </table>
    </div>
    <div *ngIf="this.pendingFriends.length > 0">
      List of pending friendship requests:<br>
      <table>
          <tr *ngFor="let pfriend of pendingFriends">>
            <th>{{pfriend.user.username}}</th>
            <th> <button (click)="confirmFriend(pfriend.user, i)" type="submit" class="button big">confirm friend</button></th>
            <th> <button (click)="unconfirmFriend(pfriend.user, i)" type="submit" class="button danger">reject request</button></th>
          </tr>
      </table>
    </div>
    <div>
      <button (click)="loadFriends()" type="submit" class="button big">refresh</button>
    </div>
  </div>
</section>
        